.app {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 40px 0 20px 0px;

  background-color: var(--bg-color);
  color: seashell;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.info-panel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;

  margin: 24px;
  width: 800px;
}
